body {
    background: #eee;
    padding: 2vw;
    color: #333;
}
h1, h2, h3 {
    font-family: sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    color: #33f;
}
a:hover {
    text-decoration: underline;
}
